.profileMain{
    margin-bottom: 40px;
}
.lavelMain{
    margin-top: 8px;
    background: transparent;
}
.headerSectionItem{
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.headerSectionItem :first-child{
    margin-left: 0;
}
.headerItem{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 50px;
}
.headerItem :hover{
    transition: color .3s;
    color: #0290d9;
}
.ItemInline{
    color: black;
    display: flex;
}
.ItemName{
    margin-left: 4px;
    padding-top: 5px;
}
.ItemIcon{
    font-size: 38px;
}
