.wrap{
    margin-bottom: 40px;
    width: 100%;
    padding: 0 30px;
}
.img{
    text-align: center;
}
.title{
    color: #000;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    padding: 43px 0 44px;
}
.text{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 24px;
}
.block{
    position: relative;
}