.name{
    margin-bottom: 10px;
}
.subject{
    margin-bottom: 30px;
}
.appeal{
    margin-bottom: 20px;
}
.subEmail{
    margin-top: 5px;
    color: #707071;
}
.subTextarea{
    font-size: 14px;
    color: #707071;
}