.sectionItem{
    margin-bottom: 26px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.sectionItem :first-child{
    margin-left: 0;
}
.item{
    padding: 0 15px;
    font-size: 20px;
    margin-left: 50px;
}
.item :hover{
    transition: color .3s;
    color: var(--main-text-color)
}
.inline{
    color: black;
    display: flex;
}
.name{
    margin-left: 4px;
    padding-top: 5px;
}
.icon{
    font-size: 38px;
}
