.tabs{
    margin: 0 0 25px;
    font-size: 16px;
    display: flex;
}

.tabsItem{
    padding: 10px 30px;
    border: 1px solid gray;
}

.active{
    background: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    color: #fff;
    position: relative;
}
.active:after{
    background: var(--main-text-color);
    bottom: -6px;
    content: '';
    height: 10px;
    left: calc((100% - 10px)/ 2);
    position: absolute;
    -webkit-transform: rotate(
            45deg
    );
    transform: rotate(
            45deg
    );
    width: 10px;
}
.active>a{
    color: #fff;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form{
    width: calc(47% - 80px);
}
.form textarea{
    font-size: 16px;
}
.formInput{
    margin-bottom: 30px;
}
.formTextArea{
    margin-bottom: 20px;
}
.formItemBtn{
    text-align: end;
}
.info{
    font-size: 14px;
    width: 52.999%;
}
.infoText{
    margin: 0 0 20px;
}
.infoBold{
    font-weight: 700;
    margin: 0 0 10px;
}
.info ol {
    margin: 0 0 15px;
}
.info ol>li {
    line-height: 18px;
    color: #000;
    padding: 0 0 0 20px;
    position: relative;
}
.info ol>li:before {
    content: '—';
    left: 0;
    position: absolute;
}