.header {
    min-width: 100%;
    box-shadow: 0px 4px 19px -6px rgba(34, 60, 80, 0.36);
}
.entrance{
    position: relative;
}
.header img {
    width: 140px;
    height: auto;
}
.exit{
    color: #8f939c;
}
.logo {
    height: auto;
}
.center{
    margin: 0 auto;
    padding: 15px 30px 5px;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.item:hover {
    border-bottom: 1px solid gray;
}
.link:hover{
    color:#3EA4F8
}
.menu :last-child {
    margin-right: 0;
}

.item {
    text-align: center;
    position: relative;
    margin-bottom: -17px;
    padding-bottom: 17px;
    margin-right: 80px;
}

.profileFocus {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    position: absolute;
    top: 84px;
    box-shadow: 0 0 20px rgb(208 215 215);
    display: block;
    width: 180px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    cursor: default;
    border: none;
    padding: 0;
    z-index: 10001;
    transition: all 1ms ease-out .2s;
}
.menuWrapper{
    text-align: left;
    padding: 10px 15px;
}
.MenuRight{
    right: calc(50% - 90px);
}
.menuLeft:before{
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #fff transparent;
    content: '';
    height: 0;
    position: absolute;
    right: calc(50% - 9px);
    top: -10px;
    width: 0;
}
.menuLeftTitle{
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}
.menuLeft > li:last-child{
    padding-top: 15px;
}
.menuLeft > li > ul > li{
    width: fit-content;
    cursor: pointer;
}
.menuLeft > li > ul > li:hover,
.menuLeft > li > ul > li > a:hover{
    color: #3EA4F8;
    border-bottom: 1px solid #C6C6C7;
}
