.header{
    padding-bottom: 30px;
    background-color: initial;
}
.headerTitle{
    font-size: 2.1rem;
    font-weight: 600;
}
.headerSubTitle{
    font-weight: 400;
    margin-left: 10px;
    font-size: 2.1rem;
    line-height: 1.2;
    color: #b3b3b7;
}
.cardWrap{
    display: flex;
    flex-wrap: wrap;
}
.cardItem{
    line-height: 23px;
    font-size: 16px;
    outline: none;
    color: #151528;
    text-decoration: none;
    cursor: pointer;
    transition: color .1s ease;
    padding: 20px 20px 30px;
    max-width: 350px;
    min-width: 200px;
}
.cardItem:hover{
    box-shadow: 0 5px 25px rgb(30 31 33 / 12%);
    transition: box-shadow .15s ease-in-out;
}
.cardItem:hover .cardItemText{
    color: var(--main-text-color);
    transition: color .3s;
}
.cardItemTop{
    margin-bottom: 30px;
}
.cardItemImg{
    min-height: 146px;
    margin-bottom: 10px;
}
.cardItemImg img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 4px;
}
.cardItemCost{
    font-weight: 600;
    font-size: 24px;
}
.cardItemRub{
    color: #b3b3b7;
}