.header{
    padding-bottom: 30px;
    background-color: initial;
}
.headerTitle{
    font-size: 2.1rem;
    font-weight: 600;
}
.headerSubTitle{
    font-weight: 400;
    margin-left: 10px;
    font-size: 2.1rem;
    line-height: 1.2;
    color: #b3b3b7;
}
.cardWrap{
    display: flex;
    flex-wrap: wrap;
}
