.footer{
    margin-top: 48px;
    background: #481173;
    position: relative;
}
.footer__wrap{
    padding-bottom: 40px;
    min-width: 978px;
    width: 100%;
    max-width: 1500px;
    padding: 62px 30px 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}