.footer{
    box-shadow: 0px 4px 19px -6px rgba(34, 60, 80, 0.36);
    background: #F5F5F6;
    position: relative;
    margin-top: auto;
}
.wrap{
    padding-bottom: 40px;
    min-width: 978px;
    width: 100%;
    max-width: 1500px;
    padding: 30px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}
.email_content{
    padding: 30px 0;
    border-bottom: 1px solid #DFDFE1;
    margin-bottom: 50px;
}
.email{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.email_title{
    cursor: default;
    font-size: 24px;
    line-height: 2.39;
    width: 40%;
}
.email_body{
    display: flex;
    align-items: flex-start;
    width: 60%;
}
.email_input{
    width: 30%;
}

.button{
    font-size: 15px;
    padding: 10px 24px;
    margin-top: 9px;
    margin-left: 10px;
}
.button:disabled{
    cursor: no-drop;
    border: 1px solid #c1c1c1;
    color: #C8C8CB;
}
.button:enabled{
    cursor: pointer;
    border: 1px solid #C8C8CB;
    color: #5D5D64;
}
.button:enabled:hover{
    border: 1px solid #02A5DF;
    color: #02A5DF;
}
.success{
    cursor: default;
    color:#43a047;
}
.email_center{
    align-items: center;
}