.swipe{
    text-align: center;
}
.swipe img{
    min-height: 360px;
    max-height: 380px;
    width: 100%;
}
.content{
    position: relative;
}
.shadow{
    position: absolute;
    top: 0;
    right: -14px;
    display: flex;
    align-items: center;
    width: 14px;
    height: 100%;
}
.shadow__first{
    height: calc(100% - 10px);
    background-color: #b3b3b7;
    width: 7px;
}
.shadow__last{
    height: calc(100% - 20px);
    background-color: #dfdfe1;
    width: 7px;
}