.wrap{
    padding: 30px 20px;
}
.scroll{
    padding: 10px 10px;
    max-height: 600px;
    overflow: auto;
}
.total{
    padding-bottom: 20px;
    border-bottom: 1px solid #b3bcc5;
    margin-bottom: 28px;
}
.totalText{
    font-size: 20px;
    font-weight: 700;
    color: #001a34;
}
.block{
    display: flex;
    flex-direction: column;
}
.notBasket{
    padding: 60px 0;
    text-align: center;
}
.title{
    font-size: 24px;
    font-weight: 600;
    color: #2d3133;
}
.subTitle{
    margin-top: 15px;
    font-size: 16px;
    font-weight: lighter;
    color: #939da3;
}
.delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.deleteAll{
    cursor: pointer;
    font-size: 14px;
    color: rgb(249, 17, 85);
}