:root{
    --main-text-color: #0290D9;
    --main-wrap-padding: 15px 30px 30px;
}
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: larger;
    background-color: #fafafa;
    overflow-x: hidden;
}

ul,ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
h2 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}
textarea{
    outline: none;
    font: inherit;
}
input {
    outline: none;
    border: none;
}
img {
    max-width: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    color: #000;
    transition: color .3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h3,h1{
    padding: 0;
    margin: 0;
}
.title{
    font-size: 32px;
    font-weight: 700;
}
.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    min-width: 978px;
    max-width: 1500px;
}
.wrapContainer{
    border-radius: 5px;
    color: #000;
    box-shadow: 0 0 20px rgb(208,215,215);
    margin: 0 auto;
    padding: 15px 20px 20px;
}

.button{
    font-size: 15px;
    border-radius: 100px;
    padding: 10px 20px;
    margin-left: 0;
    cursor: pointer;
    border: 1px solid #C8C8CB;
    color: #5D5D64;
}
.button:hover{
    border: 1px solid var(--main-text-color);
    color: var(--main-text-color);
}
.popupWrap{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.popupTitle{
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: #151528;
}
.popupTextarea{
    border: 1px solid #dfdfe1;
    border-radius: 3px;
    transition: all .3s;
    font-size: 20px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 300px;
    padding: 10px;
}
.popupTextarea:focus{
    border: 1px solid #3F51B5;
}
.popupWrapButton{
    text-align: end;
    margin-top: 20px;
}
.popupButton:hover{
    color: #3F51B5;
    border:1px solid #3F51B5;
}
.subTextareaError{
    color: red;
}
.textareaError{
    border: 1px solid red;
}
.textareaError:focus{
    border: 1px solid red;
}
.subTextarea{
    font-size: 14px;
    color: #707071;
    margin-bottom: 5px;
}
.subTextarea:after{
    content: '*';
}